.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0,0,0, 0.2)), url(../../images/background.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 10px;
}

.banner .container {
  margin: 20px 100px;
}

.banner h1 {
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.61);
}

.container > p {
  margin: 20px 100px;
  font-size: 20px;
  font-weight: lighter;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.61);
}

.banner-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(45, 148, 108);
  border: 4px outset rgb(53, 196, 141);
  padding: 6px 14px;
}

.banner-button:hover {
  background-color: rgb(51, 172, 125);
  border: 4px outset rgb(78, 206, 157);
}

.banner-button:active {
  background-color: rgb(45, 148, 108);
  border: 4px inset rgb(78, 206, 157);
}
