.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.card {
  width: 240px;
  height: 400px;
  box-shadow: 0 0 15px darkgray;
}

.card img {
  object-fit: cover;
  width: 240px;
  height: 240px;
}

.card p {
  font-size: 16px;
  padding: 0 8px;
  text-align: center;
}

.card h3 {
  font-size: 18px;
  padding: 0 8px;
  margin: 0;
  text-align: center;
}
